Beaker==1.6.1
Chameleon==2.5.3
FormEncode==1.2.4
Mako==0.5.0
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
PyYAML==3.10
Pygments==1.4
Routes==1.12.3
SQLAlchemy==0.7.4
WebOb==1.2b2
coverage==3.5.1
httplib2==0.7.2
mock==0.7.2
nose==1.1.2
oauth2==1.5.210
pyramid==1.3a1
pyramid-debugtoolbar==0.9.7
pyramid-tm==0.3
python-openid==2.2.5
repoze.lru==0.4
requests==0.8.4
simplejson==2.3.0
stockpot==0.0
transaction==1.2.0
translationstring==0.4
velruse==0.20a1
venusian==1.0a2
wsgiref==0.1.2
zope.component==3.11.0
zope.deprecation==3.5.0
zope.event==3.5.1
zope.interface==3.8.0
zope.sqlalchemy==0.7
