Store:
    Type: MongoDB
    DB: ccb
Google:
    Consumer Key: communitycookbook.net
    Consumer Secret: SECRET
Facebook:
    API Key: APIKEY
    Application Secret: SECRET
    Application ID: APIKEY
Twitter:
    Consumer Key: KEY
    Consumer Secret: SECRET
OpenID:
    Realm: http://communitycookbook.net:6543
    Endpoint Regex: http://communitycookbook.net
OpenID Store:
    Type: openid.store.memstore:MemoryStore
